@font-face {
    font-family: "rickandmorty";
    font-weight: 300;
    src: url(assets/Fuentes/letra.ttf);
}
*{
    font-family: "rickandmorty", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #62a4ab;
    border: solid #c1f762 10px;
}
h1{
    font-size: 50px;
    color: #c1f762;
}